html, body {
  	padding:0;
 	margin:0;
 	background-color:white;
	
}
section{
	background-color:white;
}



.par{
	width:80%;
	margin:auto;
	display:flex;
}
.par p{
	font-family: sans-serif;
	font-size:200%;
	padding-top: 4%;
}

h1{
	font-family:sans-serif;
	text-align: left;
	font-size:250%;
	margin:5% 5% 2%;
	display:inline-block;
	padding-bottom: 1%;
	border-bottom: 3px solid#222;
}

svg {
  width:32px;
  height:32px;
  fill:#fff;
}

.about__section {
  	width:100%;
  	margin:5% 0%;
	
	
	
}

.about__section .about__slot {
  width:calc(33.33% - 20px);
  box-sizing: border-box;
  background-color: white;
  border-right:none;
  border-top:none;
  height:15vw;
  min-height:300px;
  min-width:220px;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  cursor:pointer;
  position:relative;
  background-size:0% auto;
  -webkit-transition:all 0.3s linear;
  background-position:center center;
  background-repeat:no-repeat;
  overflow:hidden;
	border:4px solid #222;
	margin:2px;
	
}

.about__slot .bioText {
  opacity:0;
  color:rgba(242,242,242,0);
  pointer-events:none;
  position:absolute;
  top:350px;
  left:0;
  right:0;
  padding:10%;;
  padding-top:25px;
  padding-bottom:25px;
  width:80%;
  height:0;
  -webkit-transition:all 0.3s linear;
  margin:auto;

}

.about__slot.bio .about__info {
  top:0px;
  bottom:220px;
  background-color:rgba(0,0,0,0.42);
  box-shadow:inset 0px -5px 10px 0 rgba(0,0,0,1);
}

.about__slot.bio .bioText  {
  opacity:1;
  border-radius:0;
  position:absolute;
  top:50px;
  padding:100px;
  left:0;
  right:0;
  bottom:0;
  width:80%;
  height:250px;
  color:rgba(255,255,255,1);
  background-color:rgba(42,42,42,0.7);
  z-index:8;
  margin:auto;
  font-family:sans-serif;
  overflow:auto;
}

.about__slot .about__info {
  position:absolute;
  left:0;
  bottom:0;
  top:225px;
  right:0;
  pointer-events:none;
  z-index:9;
  -webkit-transition:all 0.3s linear;
  
}

.about__slot .headshot {
  margin:auto;
  margin-top:19px;
  width:172px;
  height:172px;
  background-size:200px 200px;
  background-position:center 15%;
  border-radius:100%;
  box-shadow:0px 2px 10px 2px rgba(0,0,0,0.42);
  -webkit-transition:all 0.1s ease-in-out;

}

.about__slot.bio .headshot {
  -webkit-filter:blur(3px);
  opacity:1;
  width:100%;
  height:300px;
  border-radius:0;
  margin-top:0;
  background-size:375px 375px !important;
  border:0;
  top:0;
  left:0;
  bottom:0;
  right:0;


}

.about__slot .name {
  font-family:"Typo Grotesk",sans-serif;
  font-size:20px;
  font-weight:800;
  color:#222;
  margin-bottom:0px;
  margin-top:10px;
  -webkit-transition:all 0.3s linear;
}

.about__slot .title {
   font-family:"Typo Grotesk",sans-serif;
  font-size:16px;
  font-weight:300;
  margin-top:5px;
  color: white;
  -webkit-transition:all 0.3s linear;
}

.about__slot.bio .name {
  color:#f5f5f5;
}

.about__section .about__slot:hover .headshot {
  opacity:1;
  width:100%;
  height:300px;
  border-radius:0;
  margin-top:0;
  background-size:325px 325px;
  border:0;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.about__section .about__slot:hover .name {
  color:#f5f5f5 !important;
}

.about__section .about__slot:hover .about__info {
    background-color:rgba(0,0,0,0.42);
}

.usrbg {
  max-width: 70%;
  margin: 2% auto;
  padding: 2%;
}

h2{
	font-family: sans-serif;
	font-size:150%;
	margin:2% 0%;
}

.usr {
	font-family: montserrat;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.usr select, input {
  padding: 2%;
  margin:  2%;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #222;
  
  border-radius: 4px;
  transition: border 0.3s ease; 
}

.usr input:focus {
  border: none; 
  border-bottom: 2px solid #222; 
  outline: none;
}

#confirmRideButton {
  margin: 5% 0% 0% 0%;
  border-radius: 0.5em;
  border-color: #222;
  padding: 4% 4%;
  font-size: 100%;
  color: white;
  font-family:sans-serif;
  background: #222;
  text-shadow: 0px -2px #222;
  transition: border-color 0.3s ease, text-shadow 0.3s ease; 
}

button:hover {
  border-color: #ccc;
  text-shadow: 0 0 10px #ccc;
}

option, optgroup{
  margin: 2px;
  font-size: large;
}

select{
  font-size: 15px;
}

.waiting {
  margin: 20%;
  text-align: center;
  background-color: transparents;
}