section {
	color: white;
}
.ab-t {
	background-color:#222;
	text-decoration: underline;
	font-size: 70px;
	padding: 4% 0% 5% 43%;
}

.ab-p2{
	background-color:white;
	color:#222;
	display: flex;
	padding:5% 15% 5% 6%;
	
}

h2{
	font-size: 60px;
	margin-bottom: 4%;
}


.ab-p1, .ab-p2 p{
	text-align: justify;
	font-size: 180%;
}