body{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}
section {
	color: #222;
	background-color: white;
	padding-bottom:5%;
}
.ju-t {
	text-align:  center;
	font-size:250%;
	margin:2% 5%;
}

.ju-p {
	margin-top:3%;
	display: flex;
}

.ju-p p{
	margin:5% 15% 2% 6%;
	text-align: justify;
	font-size: 180%;
}

.ju-p img{
	margin:  0% 10% 0% 0%;
	width:400px;
	height:400px;	
}
.contact  {
	margin: 5% 0% 4% 6%;
	font-size: 250%;
}
.ju-p a{
	color:#222;
	text-decoration: none;
	font-size:400%;
	margin-left:20%;
}
.ju-p a:hover {
	color:#e5072d;
	text-decoration: underline;
}

.applicationButton {
  margin: 5% 0% 0% 40%;
  border-radius: 0.5em;
  border-color: #222;
  padding: 4% 4%;
  font-size: 140%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: #222;
  text-shadow: 0px -2px #222;
  transition: border-color 0.3s ease, text-shadow 0.3s ease; 
}

.applicationButton:hover {
  border-color: #ccc;
  text-shadow: 0 0 10px #ccc;
}